In [1]:
import pandas as pd

In [2]:
path = "./cleaned/"
neg = pd.read_csv(path + "depressed_cleaned.csv")
pos = pd.read_csv(path + "non_depressed_cleaned.csv")

In [3]:
pos.head()

   Unnamed: 0  target                                      tweet_cleaned
0           0       0                            omg its already       O
1           1       0                 Juuuuuuuuuuuuuuuuussssst Chillin
2           2       0        handed in my uniform today   i miss you ...
3           3       0            hmmmm     i wonder how she my number
4           4       0        thanks to all the haters up in my face a...

In [4]:
neg.head()

,Unnamed: 0,id,conversation_id,date,username,tweet_processed,hashtags,tweet_original,target
0,0,1.079889e+18,1.079889e+18,2018-12-31,depressediniowa,I am afraid of death. I don't want to die. Y...,"['depression', 'depressed', 'depressedthoughts']",I am afraid of death. I don't want to die. Y...,1
1,1,1.079889e+18,1.076269e+18,2018-12-31,mo_loves,@Sia I wish I‚Äôd known I could write about myse...,['depression'],@Sia I wish I‚Äôd known I could write about myse...,1
2,2,1.079887e+18,1.079887e+18,2018-12-31,1houratatime,1 eye is smaller than the other. My lips so im...,"['depression', 'anxiety', 'ehlersdanlossyndrom...",1 eye is smaller than the other. My lips so im...,1
3,3,1.079886e+18,1.079886e+18,2018-12-31,thecou_ch,I‚Äôm fed up.. I‚Äôve been married to a drug and a...,"['psychology', 'depression', 'mentalhealth']",I‚Äôm fed up.. I‚Äôve been married to a drug and a...,1
4,4,1.079886e+18,1.079886e+18,2018-12-31,griffinhearts,It‚Äôs no wonder so many of us feel so shitty so...,"['anxiety', 'depression', '3chordsandthetruth']",It‚Äôs no wonder so many of us feel so shitty so...,1

In [5]:
pos.columns

Index(['Unnamed: 0', 'target', 'tweet_cleaned'], dtype='object')

In [6]:
neg.columns

Index(['Unnamed: 0', 'id', 'conversation_id', 'date', 'username',
       'tweet_processed', 'hashtags', 'tweet_original', 'target'],
      dtype='object')

In [7]:
neg = neg.drop(['Unnamed: 0', 'id', 'conversation_id', 'date', 'username', 'hashtags',  \
         'tweet_original'], axis=1)

In [8]:
neg.head()

                                     tweet_processed  target
0  I am afraid of death.  I don't want to die.  Y...       1
1  @Sia I wish I‚Äôd known I could write about myse...       1
2  1 eye is smaller than the other. My lips so im...       1
3  I‚Äôm fed up.. I‚Äôve been married to a drug and a...       1
4  It‚Äôs no wonder so many of us feel so shitty so...       1

In [9]:
neg.rename(columns={'tweet_processed':'tweet'}, inplace=True)
neg.head()

                                               tweet  target
0  I am afraid of death.  I don't want to die.  Y...       1
1  @Sia I wish I‚Äôd known I could write about myse...       1
2  1 eye is smaller than the other. My lips so im...       1
3  I‚Äôm fed up.. I‚Äôve been married to a drug and a...       1
4  It‚Äôs no wonder so many of us feel so shitty so...       1

In [10]:
pos = pos.drop(["Unnamed: 0"], axis=1)
pos.rename(columns={'tweet_cleaned':'tweet'}, inplace=True)

In [11]:
pos.head()

   target                                              tweet
0       0                            omg its already       O
1       0                 Juuuuuuuuuuuuuuuuussssst Chillin
2       0        handed in my uniform today   i miss you ...
3       0            hmmmm     i wonder how she my number
4       0        thanks to all the haters up in my face a...

In [12]:
tneg = pos
cols = ['tweet', 'target']
tneg = tneg.reindex(columns=cols)
tneg

                                                  tweet  target
0                               omg its already       O       0
1                    Juuuuuuuuuuuuuuuuussssst Chillin         0
2           handed in my uniform today   i miss you ...       0
3               hmmmm     i wonder how she my number          0
4           thanks to all the haters up in my face a...       0
...                                                 ...     ...
4995   courtneynewton  OMG SHUT UP     sorry  still ...       0
4996   CoxRocks  Ha  the lead singer gave me a high ...       0
4997   danielleejonas  UGH  i love tila  haters need...       0
4998   ericholscher  Note to self  Ctrl D   Page Up ...       0
4999        FTSKim     on my term paper  suck my nuts         0

[5000 rows x 2 columns]

In [13]:
pos = tneg

In [14]:
print(len(neg), len(pos))

8102 5000

In [15]:
combined = pd.concat([pos, neg])

In [16]:
combined

                                                  tweet  target
0                               omg its already       O       0
1                    Juuuuuuuuuuuuuuuuussssst Chillin         0
2           handed in my uniform today   i miss you ...       0
3               hmmmm     i wonder how she my number          0
4           thanks to all the haters up in my face a...       0
...                                                 ...     ...
8097  What is mediction-induced ? And why is it so i...       1
8098  Treating  Syndrome and  with Self-Hypnosis -  ...       1
8099  @billkinkle @tomfolanmd "How to Quit : Very Sl...       1
8100  Yes have read a lot from Prof Healy about the ...       1
8101  So glad when I went to the doctors I refused a...       1

[13102 rows x 2 columns]

In [17]:
combined = combined.sample(frac=1)

In [18]:
combined.head()

                                                  tweet  target
5201  Warm wishes for a wonderful holiday and happy ...       1
3229    from tonight going to  vic fires  Aparently ...       0
1767  I've just published:  "Ultimate  Management Gu...       1
7273  It sucks when you're poor It sucks when you ha...       1
5014  2019Âπ¥7Êúà„Å´„Çπ„Çø„Éº„Éà„Åó„ÅüStay Gold‚ú®  Â∞è„Åï„Å™„Çπ„Çø„Ç∏„Ç™„Åß„ÅÆ „Éá„Éì„É•„Éº„Ç§„Éô„É≥„Éà„Åã„Çâ...       1

In [19]:
combined.target.value_counts()

1    8102
0    5000
Name: target, dtype: int64

In [20]:
combined = combined.reset_index(drop=True)
combined.to_csv("./cleaned/combined_dataset.csv")

In [21]:
pos.tweet[0]

'              omg its already       O'

In [22]:
neg.tweet[1]

'@Sia I wish I‚Äôd known I could write about myself...üòû I‚Äôm always too late for everything, miss out on everything...my gahd. My life... Anyway, have a Happy New Year. Here‚Äôs to hoping next year will be better... '

In [23]:
combined

                                                   tweet  target
0      Warm wishes for a wonderful holiday and happy ...       1
1        from tonight going to  vic fires  Aparently ...       0
2      I've just published:  "Ultimate  Management Gu...       1
3      It sucks when you're poor It sucks when you ha...       1
4      2019Âπ¥7Êúà„Å´„Çπ„Çø„Éº„Éà„Åó„ÅüStay Gold‚ú®  Â∞è„Åï„Å™„Çπ„Çø„Ç∏„Ç™„Åß„ÅÆ „Éá„Éì„É•„Éº„Ç§„Éô„É≥„Éà„Åã„Çâ...       1
...                                                  ...     ...
13097  2018 recap:  * Quit from permanent post &amp; ...       1
13098   haveyouever followed a soap opera   I follow ...       0
13099  Last Sunday was LITE...  Future   @ Lagos Ikor...       1
13100  How do we express our anger, frustrations and ...       1
13101  Currently: laying on the floor with 0% motivat...       1

[13102 rows x 2 columns]

In [24]:
len(combined)

13102